


<h1 class="sd-main-heading">Edit Blog Slug</h1>
<br><br>

<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-8">
      <%= form_with(model: blog, local: true) do |b| %>
        <div class="form-horizontal">


          <div class="form-group">
            <div class="col-sm-2 control-label">
              <%= b.label :Slug %>
            </div>
            <div class="col-sm-10">
              <%= b.text_field :slug, class: "form-control", placeholder: "Some title...", autofocus: true %>
              <small class="text text-danger">=> Keep the Slug Different then already Available</small><br>
              <small class="text text-danger">=> Don't mess with it until you know what you are doing</small>
            </div>
          </div>


          <div class="form-group text-center">
            <div class="col-sm-offset-2 col-sm-10">
              <%= b.submit "Update", class: "btn btn-primary lo-lg" %>
              <%= link_to 'Cancel', blogs_path, class: "btn btn-danger lo-lg"  %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

