<hr style="margin-top: 5px;padding-bottom: 20px">

<section id="home-reviews">
  <div class="col-sm-10 ml-auto mr-auto text-center">
    <h2 class="sd-main-heading">Read what some of our customers are saying</h2>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="false">
      <div class="carousel-inner">


        <div class="carousel-item active">
          <% if @reviews.first %>
          <%= image_tag(@reviews[0].image.url(:basic), class: 'review-image', alt:'No Image') %>
          <%end%>
          <p class="text text-center text-capitalize" style="font-size: 1.5em">
            <i class="fa fa-quote-left" style="color: #F29900" aria-hidden="true"></i>&nbsp;&nbsp;
            <% if @reviews.first %>
              <%= @reviews.first.review %>
            <% end %>
            <i class="fa fa-quote-right" aria-hidden="true" style="color: #F29900"></i>&nbsp;&nbsp;</p>
          <p class="review-name"><strong>
            <% if @reviews.first %>
              <%= @reviews.first.name %>
            <% end %></strong></p>
          <div class="stars">
            <% if @reviews.first %>
              <% for i in 0...@reviews.first.rating %>
                <i class="fas fa-star" style="color: #F29900"></i>
              <% end %>
            <% end %>
          </div>
        </div>

        <%for i in 1...@reviews.count %>
        <div class="carousel-item">
          <%= image_tag(@reviews[i].image.url(:basic), class: 'review-image', alt:'No Image') %>
          <p class="text text-center text-capitalize" style="font-size: 1.5em">
            <i class="fa fa-quote-left" aria-hidden="true" style="color: #F29900"></i>
            <%= @reviews[i].review %>
            <i class="fa fa-quote-right" aria-hidden="true" style="color: #F29900"></i>
          </p>
          <p class="review-name"><strong><%= @reviews[i].name %></strong></p>
          <div class="stars">
            <% for j in 0...@reviews[i].rating %>
              <i class="fas fa-star" style="color: #F29900"></i>
            <% end %>
          </div>
        </div>
        <%end %>


      </div>
    </div>
  </div>
</section>

<hr style="margin-top: 20px;padding-bottom: 50px">